a,
ul,
button {
  list-style: none;
  text-decoration: none;
  color: $black;
  border: none;
  background-color: none;
  @include zeroIndents;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans' sans-serif;
  @include fonts(12px, 12px);
  font-weight: 600;
  color: $black;
  text-transform: uppercase;
  background-color: $pageBg;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  @include size(1px, 1px);
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
